<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
      <ul>
        <div class="details">
          <p>User: <%= singleMessage[0].username %></p>
          <p>Date: <%= singleMessage[0].date.toDateString() %></p>
          <p>ID: <%= singleMessage[0].id %></p>
          <p>Message: <%= singleMessage[0].message %></p>
        </div>
      </ul>
    </div>
  </body>
</html>
