<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
      <ul class="all-messages">
        <% messages.toReversed().map((m) => { %>
        <div class="message">
          <p class="user"><%= m.username %>:</p>
          <a href="/<%=m.id%>">
            <span>details</span>
          </a>
          <p class="text"><%= m.message %></p>
        </div>
        <% })%>
      </ul>
    </div>
  </body>
</html>
