<div class="d-flex flex-column justify-content-center g-3">
  <h2 class="text-center mb-sm-5">Welcome, <%= user.username %></h2>

  <!-- My Files link (only for xs screens)-->
  <a href="/folders/all" class="d-sm-none"
    ><h4 class="mb-4 text-center">My Files</h4></a
  >

  <div class="container"><%- include('partials/newFolder') %></div>
  <div class="container"><%- include('partials/uploadFile') %></div>

  <!-- Recent folders (max 3) -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-11 col-md-10 col-lg-8">
        <h4 class="mt-5 text-center">Recent folders:</h4>
        <% if (folders.length === 0) { %>
        <p class="text-center">no folders yet</p>
        <% } else { %>
        <ul class="list-group mb-4">
          <% folders.slice(0, 3).forEach(folder => { %>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <a href="/folders/folder-<%= folder.id %>/files">
              <span class="folder-name"><%= folder.name %></span>
            </a>
            <span class="folder-items small">
              <% if (folder.files.length === 1) { %> 1 file <% } else { %> <%=
              folder.files.length %> files <% } %>
            </span>
          </li>
          <% }) %>
        </ul>
        <% } %>
      </div>
    </div>
  </div>

  <!-- Recent files (max 3) -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-11 col-md-10 col-lg-8">
        <h4 class="text-center">Recent files:</h4>
        <% if (files.length === 0) { %>
        <p class="text-center">no files yet</p>
        <% } else { %>
        <ul class="list-group">
          <% files.slice(0, 3).forEach(file => { %>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <div>
              <strong><%= file.name %></strong>
              <% if (file.folder) { %>
              <small class="text-muted">in "<%= file.folder.name %>"</small>
              <% } %><br />
              <a href="<%= file.url %>" target="_blank">view</a>
            </div>
            <a
              class="btn btn-sm btn-outline-primary"
              href="/files/download-<%= file.id %>"
              download
              >download</a
            >
          </li>
          <% }) %> <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>
